#home {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

.home-logo {
  height: auto;
  width: 20vw;
}

@media (prefers-reduced-motion: no-preference) {
  .home-logo {
    animation: home-logo-spin infinite 5s linear;
  }
}

@keyframes home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}