#nav {
    display: flex;
    gap: 1rem;
}
  
#nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
    transform: color 0.2s ease-in-out;
}

#nav a:hover {
    background-color: #ffffff;
    color: #282c34;
}
  