#tasks-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
}

#task {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    width: 15vw;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    min-height: 11rem;
}

#task:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.task-title, .task-description, .task-price, .task-tel, .task-author  {
    text-align: center;
}